<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/admin.css">
</head>
<body>
  <div class="dashboard_container">
  
    <div class="logout"> <a class="logout_text" href="/home" >Logout</a></div>
    <br><br>
    <center>
    <h1>SELECT THE SUBJECT</h1>
    <div class="subject">
      <form action="/admin_dashboard" method="post">
      <input type="submit" class="sub_button" name="ENGLISH" value="ENGLISH">  
      <form>
    </div>


    <div class="subject">
      <form action="/admin_dashboard" method="post">
      <input type="submit" class="sub_button" name="COMBINED_MATHS" value="COMBINED_MATHS">  
      <form>
    </div>


    <div class="subject">
      <form action="/admin_dashboard" method="post">
      <input type="submit" class="sub_button" name="CHEMISTRY" value="CHEMISTRY">  
      <form>
    </div>


    <div class="subject">
      <form action="/admin_dashboard" method="post">
      <input type="submit" class="sub_button" name="PHYSICS" value="PHYSICS">  
      <form>
    </div>


    <div class="subject">
      <form action="/admin_dashboard" method="post">
      <input type="submit" class="sub_button" name="ICT" value="ICT">  
      <form>
    </div>
</center>

  </div>
</body>
</html>   