<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="/admin.css">
</head>
<body>



<div class="container">
  <h1>ADMIN LOGIN</h1>
  <p class="error"></p>
  <form class="form" action="" method="post">
   
    <div class="form-group">
      <h4>USERNAME:</h4>
      <input type="text" id="admin_name" name="admin_name" required>
  	</div>	

    
    <div class="form-group">
     <h4>PASSWORD:</h4>
      <input type="password" id="admin_password" name="admin_password" >
	  </div>
 

    <input type="submit" class="button" name="admin_login" value="LOGIN">
  
  </form>

<br><br>
<a href="/login" >User ? LOGIN</a>
<div class="logout"> <a class="logout_text" href="/home" >Back</a></div>
</div>

</body>
</html>
