<!DOCTYPE html>
<html lang="en">
<head>
  <title>index</title>
  <link rel="stylesheet" href="/style.css">
  </style>
</head>
<body>

<div class="container">
	<h1><center>Study Material Management System</center></h1>
  
  
  <a href="/user/login"><button  class="button">Login</button></a>
  <a href="/user/signup"><button  class="button">Register</button></a>
  <a href="/admin/login"><button  class="admin_button">Admin_Login</button></a>
  
</div>

</body>
</html>