<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="">
</head>
<body>



<div class="container">
  <h1>LOGIN</h1>
  <p class="error"></p>
  <form class="form" action="" method="post">
   
    <div class="form-group">
      <h4>USERNAME:</h4>
      <input type="text" id="username" name="username" required>
  	</div>	

    
    <div class="form-group">
     <h4>PASSWORD:</h4>
      <input type="password" id="password" name="password" >
	  </div>
 

    <input type="submit" class="button" name="login" value="login">
  
  </form>
  <br><br>
  <a href="" class="reset-link">Forgot Password</a>

<br><br>
<a href="/signup" >New User ? Register</a>
<div class="logout"> <a class="logout_text" href="/home" >Back</a></div>
</div>



</body>
</html>