<!DOCTYPE html>
<html lang="en">
<head>
  <title>Password change</title>
  <link rel="stylesheet" href="/user.css">
</head>
<body>

<div class="container">
  <h1>RESET</h1>
  <br>
  <% if (error) { %>
    <p class="error"><%= error %></p>
  <% } %>
  <form class="form" action="/passwordChange" method="post">
    <div class="form-group">
      <h4>Username:</h4>
      <input type="text" id="username" name="username" required>
    </div>

    <div class="form-group">
      <h4 >New Password:</h4><br>
      <input type="password" id="password" name="newpassword" required>
    </div>
    <div class="form-group">
      <h4 >Reenter Password:</h4><br>
      <input type="password" id="password" name="repassword" required>
    </div>


    <input type="submit" class="button" name="reset" value="Reset">
  </form>
  <div class="logout"> <a class="logout_text" href="/home" >Back</a></div>
</div>

</body>
</html>