
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/user.css">
</head>
<body>
  <div class="dashboard_container">
    <div class="logout">
      <a class="logout_text" href="/logout">Logout</a>
    </div>
    <br><br>
    <center>
      <h1>SELECT THE SUBJECT</h1>
      <form action="/user_material" method="post">
        <div class="subject">
          <button type="submit" class="sub_button" name="selectedSubject" value="ENGLISH">ENGLISH</button>
        </div>
        <div class="subject">
            <button type="submit" class="sub_button" name="selectedSubject" value="COMBINED_MATHS">COMBINED_MATHS</button>
          </div>
          <div class="subject">
            <button type="submit" class="sub_button" name="selectedSubject" value="CHEMISTRY">CHEMISTRY</button>
          </div>
          <div class="subject">
            <button type="submit" class="sub_button" name="selectedSubject" value="PHYSICS">PHYSICS</button>
          </div>
          <div class="subject">
            <button type="submit" class="sub_button" name="selectedSubject" value="ICT">ICT</button>
          </div>
       <!-- <input type="hidden" name="selectedSubject"> -->
      </form>
    </center>
  </div>
</body>
</html>