<!DOCTYPE html>
<html lang="en">

<head>
   
    <title>User Meterial</title>
    <link rel="stylesheet" href="/user.css">
</head>

<body>

    <div class="container">
	<div class="logout"> <a class="logout_text" href="/user/user_dashboard" >Back</a></div>
	<br><br>
      
    <h1><%= subject %></h1><br>
		
		<h1>FILES</h1>

        <table class='filetable'>
            <%x.forEach((y)=>{%>
                 <tr>
                 <td class='filetabletd'>
                     <%=y.name%>
                 </td>
                 <td class='filetabletd'>
                 <a class='meterial_text' href="/user/open/<%=y.name%>" target=_blank> Open File </a>
                 </td>
                 <td class='filetabletd'>
                 <a class='meterial_text' href="/user/open/<%=y.name%>" download> Download File </a>
                 </td>
                 </tr>
             <%})%>
         </table>
		
		
    </div>

</body>

</html>

